:root {
    --bluePrimary: #0A2449;
    --blueLight: #3b506d;
    --darkGrey: #7C7A7D;
    --lightPrimaryGrey: #D2D2D2;
    --primaryBlack: #1E1E1E;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.converstnsctn {
    width: 100vw;
    padding: 5.63rem 0 8.63rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.converstnsctn>.shapefutre>h1 {
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4.37rem;
    width: 57.25rem;
    color: var(--bluePrimary);
    text-shadow: 0 0 4px 1px #00000025;
}

.converstnsctn>.shapefutre>h1>span {
    color: var(--lightPrimaryGrey);
}

.line4 {
    border-top: 3px solid var(--bluePrimary);
    border-radius: 100px;
    width: 60.25rem;
    box-shadow: 0 4px 4px 0px #00000025;
}

.converstnsctn>.shapefuturedesc {
    width: 60.25rem;
}

.converstnsctn>.shapefuturedesc>p {
    font-weight: 400;
    font-size: 1.12rem;
    letter-spacing: 7%;
    text-align: center;
    color: var(--primaryBlack);
    line-height: 28px;
}

.converstnsctn>.contacts {
    width: 60.25rem;
    margin-top: 20px;
}

.contacts>address {
    display: flex;
    justify-content: space-between;
}

.contacts>address>a {
    text-decoration: none;
    color: var(--darkGrey);
    font-weight: 300;
    font-size: 2.12rem;
}

.contactform1 {
    position: relative;
    width: 100vw;
    height: 65rem;
    display: flex;
    justify-content: center;
    padding: 2.63rem 0rem 8.63rem;

}

.contactform1>.formcard {
    padding: 1.5rem 2rem;
    border: 1px solid var(--bluePrimary);
    border-radius: 0.75rem;
    width: 73.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-out;
}

.contactform1>.formcard:hover {
    box-shadow: 0px 4px 15px 5px #3666AB60;
    transform: scale(1.003);
    transition: all 0.5s ease;
}

.contactform1>.formcard>h3 {
    text-align: center;
    font-weight: 300;
    font-size: 2.125rem;
    color: var(--primaryBlack);
}

.contactform1>.formcard>.formfileds {
    width: 100%; 
    height: 100%;
    margin-top: 2rem;
}

.contactform1>.formcard>.formfileds>form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

form>.wrapfields {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 140px;
}

form>button {
    width: 37.5rem;
    height: 3.75rem;
    background-color: var(--blueLight);
    padding: 0.625rem 0.625rem;
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--lightPrimaryGrey);
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease-out;;
}
form>button:hover{
    background-color: var(--bluePrimary);
    transition: background-color 0.5s ease-in;
}
form label {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--bluePrimary);
    z-index: -70;
}

.formfileds>form>.wrapfields>.textfileds {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labels {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.labels>#message {
    background-color: #3B506D0D;
    resize: none;
    padding: .5rem;
    color: var(--blueLight);
    font-size: 1rem;
}

.formfileds>form>.wrapfields>.textfileds .fields {
    width: 26.3rem;
    height: 3.41rem;
    padding: 0.5rem;
    border: 1px solid var(--blueLight);
    border-radius: 4px;
    background-color: #3B506D0D;
    outline: none;
    color: var(--blueLight);
    font-size: 1rem;
}

.formfileds>form>.wrapfields .fields:focus {
    outline: 1px solid var(--bluePrimary);
}

.select-box{
    width: 26.3rem;
    height: 3.41rem;
    z-index: 100;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.select-options{
    position: relative;
    transition: all 0.5s ease-in-out;
}
.select-options::after{
    position: absolute;
    content: '';
    right: 1.5rem;
    top: 50%;
    transform: translateY(-90%) rotate(45deg);
    width: .8rem;
    height: .8rem;
    border-right: 1px solid var(--blueLight);
    border-bottom: 1px solid var(--blueLight);
    transition: all 0.5s ease-in-out;
}
.select-options.active::after{
    transform: translateY(-60%) rotate(226deg);
}
.select-options>input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--blueLight);
    border-radius:4px;
    outline: none;
    padding: 1rem;
    background-color: #3B506D0D;
    transition: all 0.5s ease-in-out;
    color: var(--blueLight);
    font-size: 1rem;
    
}
.select-options>input:focus{
    outline: 1px solid var(--bluePrimary);
}
.select-options>input::placeholder{
    font-size: 1.2rem;
    color: var(--blueLight);
}
.contactform1>.formcard:hover .select-options>input[placeholder]{
    transform: scale(1.003);
}
.select-box>.options{
    width: 100%;
    height: 0;
    z-index: 200;
    background-color: rgba(211, 211, 211, 1);
    margin-top: .5rem;
    border-radius: 5px;
    list-style: none;
    opacity: 1;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.select-options.active + .options{
    height: 20.31rem;
}
.select-box>.options .option{
    width: 100%;
    padding: .7rem;
    font-size: 1.2rem;
    opacity: .7;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease;
}
.select-box>.options .option:not(:nth-of-type){
    border-bottom: none;
}
.select-box>.options .option:hover{
  color: var(--bluePrimary);
  font-weight: 500;
  opacity: 1;
}
@media (max-width:480px) {
    /* Conversation section  */
    .converstnsctn{
        padding: 2rem 2.4rem 2rem;
    }
    .converstnsctn>.shapefutre>h1{
        font-size: 2.37rem;
        width: 100%;
    }
    .line4{
        width: 100%;
        border-top: 1px solid var(--bluePrimary);;
    }
    .converstnsctn>.shapefuturedesc{
        width: 100%;
    }
    .converstnsctn>.shapefuturedesc>p{
        width: 100%;
        text-align: justify;
    }
    .converstnsctn>.contacts{
        width: 100%;
    }
    .converstnsctn>.contacts>address{
        flex-direction: column;
        gap: 1rem;
        
    }
    .converstnsctn>.contacts>address>a{
        display: flex;
        align-items: center; 
    }
    /* Conversation section end */

    /* form section  */
     .contactform1{
        padding: 4rem 2.4rem;
     }
     .contactform1>.formcard{
        width: 100%;
        height: 100%;
        padding: 1rem 1.5rem;
     }  
     .contactform1>.formcard>.formfileds{
        width: 100%;
        height: 100%;
     }
     .contactform1>.formcard>.formfileds>form{
        width: 100%;
        height: 100%;
        gap: 3rem;
     }
     form>.wrapfields{
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
     }
     .labels{
        width: 100%;
        gap: 1rem;
     }
     form>button{
        width: 100%;
        margin-top: 5rem;
     }
     .formfileds>form>.wrapfields>.textfileds .fields{
        width: 100%;
     }
     .labels>#message {
       height: 10rem;
    }
   
    /* form section  end */
}
