:root {
    --bluePrimary: #0A2449;
    --blueLight: #3b506d;
    --darkGrey: #7C7A7D;
    --lightPrimaryGrey: #D2D2D2;
    --primaryBlack: #1E1E1E;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portfolio{
  width: 100vw;
  padding: 3.63rem 3.4rem 2.63rem 3.4rem;
  position: relative;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.portfoliotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.portfoliotext h1,h2{
    color: var(--blueLight);
    font-weight: 600;
    font-size: 5rem;
}
.portfoliotext>a button{
    width:21.25rem;
    height: 5rem;
    font-weight: 600;
    font-size: 3.13rem;
    color: #fff;
    background-color: var(--bluePrimary);
    border: none;
    border-radius: 0.8rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 1.563rem 0 #3B506D59;
    transform: rotate(-4.09deg);
    cursor: pointer;
}
.portfoliotext p{
    text-align: center;
    font-weight: 400;
    font-size: 1.88rem;  
    color: var(--blueLight);
    margin-top: 2.5rem;
}
.portfolio #curve{
    position: absolute;
    top: 9rem;
    right: -6rem;
    width: 9.312rem;
    height: 24.3rem;
}
.portfolio #curvearrow{
    width: 1.511rem;
    height: 1.772rem;
    position: absolute;
    right: -1.4rem;
    top: 30rem;
}
.portfolio #leave{
    position: absolute;
    width: 2.98rem;
    height: 2.34rem;
    top: -1rem;
    left: 0rem;
}
.develop{
    width: 100vw;
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.88rem;
    margin-top: 6.87rem;
}
.develop h1 :first-child{
    color: var(--bluePrimary);
    font-weight: 400;
    font-size: 4.38rem;
}
.develop h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.develop h1 :nth-child(2){
    color: var(--blueLight);
    font-weight: 700;
    font-size: 4.38rem;
}
.develop h1 :last-child{
    color: var(--darkGrey);
    font-weight: 900;
    font-size: 4.38rem;
}
.develop p{
    width: 35.88rem;
    color: var(--bluePrimary);
    font-weight: 400;
    font-size: 1.88rem;
    text-align: center;
}
.recentPrjsts{
    width: 100vw;
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    margin-top: 5.52rem;
}
.recentPrjsts>:first-child{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--primaryBlack);
}
.recentPrjsts :nth-child(2) :first-child{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--bluePrimary);
    line-height: 4rem;
}
.recentPrjsts :nth-child(2) :last-child{
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--bluePrimary);
}
.recentPrjsts>:last-child{
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--primaryBlack);
    margin-top: 1.5rem;
}
.muscolodesc{
    width: 100vw;
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
}
.muclologo{
    width: 100%;
    height: 19.44rem;
}
.muclologo img{
    width: 100%;
    height: 100%;
}
.descmusclo{
    width: 32rem;
    margin-top: 0.94rem;
}
.descmusclo img{
    height: 2rem;
}
.descmusclo  :nth-child(2){
    display: inline-block;
    margin-left: .4rem;
}
.descmusclo p{
    font-weight: 400;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
}
.pharmasection{
    width: 100vw;
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1.4rem;
}
.pharmainfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pharmainfo>.logopharma{
   width: 50%;
   height: 31.9rem;
}
.pharmainfo>.logopharma img{
      width: 100%;
      height: 100%;
}
.pharmainfo>.descpharma{
    width: 50%;
    height: 9.1rem;
    margin-left: 9.7rem;
}
.descpharma p>span{
    font-weight: 800;
    font-size: 2.13rem;
    color: #000;
}
.descpharma p{
    font-weight: 400;
    font-size: 1.9rem;
}
.couponinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.couponinfo>.viewlogo{
    width: 50%;
    height: 31.9rem;
    margin-left: 9.7rem;
}
.couponinfo>.viewlogo img{
    width: 100%;
    height: 100%;
}
.couponinfo>.couponinfo{
    width: 50%;
    height: 9.1rem;
}
.couponinfo p>span{
    font-weight: 800;
    font-size: 2.13rem;
    color: #000;
}
.couponinfo p{
    font-weight: 400;
    font-size: 1.9rem;
}
.koriasect{
    width: 100vw;
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    align-items: center;
    margin-top: 4.4rem;
}
.koriasect h1{
    width: 44.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: var(--blueLight);
    font-weight: 500;
    font-size: 2.8rem;
}
.koriasect h1>span{
    color: var(--blueLight);
    font-weight: 800;
}
.koriasect p{
    width: 54.1rem;
    font-weight: 400;
    font-size: 1.9rem;
    text-align: center;
    color: #000;
}
.koriasect img{
    width: 23.4rem;
    height: 25rem;
}
.feedbacksectn{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.4rem;
    margin-bottom: 8.8rem;
}
.feedbacksectn>h1{
    font-weight: 400;
    color: var(--bluePrimary);
    font-size: 4.4rem;
}
.feedbacksectn>h1>span{
    font-weight: 900;
}
.feedbck-slider{
    position: relative;
    margin-top: 5rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.feedbck-prsons{
    width: 50vw;
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedbck-prsons>.Emmak{
    font-weight: 400;
    font-size: 1.9rem;
    color: var(--blueLight);
    transition: all 0.5s ease;
}
.feedbck-prsons>.SaraL{
    font-weight: 600;
    font-size: 3.13rem;
    color: var(--blueLight);
    transition: all 0.5s ease;
}
.change{
    font-weight: 400;
    font-size: 1.9rem;
    color: var(--blueLight);
    transition: all 0.5s ease;
}
.change1{
    font-weight: 600;
    font-size: 3.13rem;
    color: var(--blueLight);
    transition: all 0.5s ease;
}
.feedbck-slider>h3{
    color: var(--blueLight);
    font-weight: 500;
    font-size: 1.9rem;
    margin-top: 1.9rem;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.feedbck-slider>h3.fad-out{
    opacity: 0;
}
.feedbck-slider>img{
    width: 14rem;
    height: 2.5rem;
    margin-top: 1.3rem;
}
.feedbck-slider>p{
    width: 70vw;
    font-weight: 400;
    font-size: 1.9rem;
    margin-top: 1.3rem;
    text-align: center;
    color: #000;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.feedbck-slider>p.fad-out{
    opacity: 0;
}
.feedbck-slider>.left-right-arrows{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 4.1rem;
    height: 4.1rem;
    cursor: pointer;
}
.feedbck-slider>#leftarr{
    left: -4rem;
}
.feedbck-slider>#rightarr{
    right: -4rem;
}