:root {
    --bluePrimary: #0A2449;
    --blueLight: #3b506d;
    --darkGrey: #7C7A7D;
    --lightPrimaryGrey: #D2D2D2;
    --primaryBlack: #1E1E1E;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.servicedev{
    display: none;
}
.servicedev.active{
    padding: 6.63rem 1rem 20.63rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-10vh);
}
.softwrap{
    width: 78rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .servicedev1 {
    font-size: 3.125rem;
    font-weight: 800;
    color: var(--blueLight);
    text-align: center;
}

main .servicedev1 span{
    font-weight: 600;
    color: var(--primaryBlack);
}
main p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    color: var(--blueLight);
}
p span{
    display: block;
    text-align: center;
}