:root {
    --bluePrimary: #0A2449;
    --blueLight: #3b506d;
    --darkGrey: #7C7A7D;
    --lightPrimaryGrey: #D2D2D2;
    --primaryBlack: #1E1E1E;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: barlow,serif;
    font-size: 100%;
}

/* Header Section Design */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}
.logo {
    margin: 1.36rem 0 0 3.13rem;
}
.logo>img{
    width: 6.062rem;
    height: 5.074rem;
}
.nav {
    margin-right: 2.812rem;
    padding: 0.313rem;

}

.nav .nav-items {
    display: flex;
    align-items: center;
    gap: 1.87rem;
}

.nav-items a {
    text-decoration: none;
    color: var(--blueLight);
    font-size: 0.94rem;
    font-family: "Barlow", serif;
    font-weight: 600;
}

.nav-items>li {
    transition: all 0.5s ease-out;
}

.nav-items>li:hover {
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.nav-items>li>a:hover {
    color: var(--bluePrimary);
    font-weight: bold;
    transition: all 0.7s ease;
}

.nav-items li {
    list-style: none;
    position: relative;
    padding: 0rem;
}

.nav-items>#getStarted {
    width: 7.5rem;
    height: 2.19rem;
    color: var(--lightPrimaryGrey);
    font-size: 0.95rem;
    background-color: var(--blueLight);
    padding: 0.5rem 0.8rem;
    border-radius: 1.3rem;
    cursor: pointer;
    border-style: none;
    opacity: 0.9;
    transition: all 0.5s ease-out;
}

.nav-items>#getStarted:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: var(--bluePrimary);
    opacity: 1;
}

.down {
    cursor: pointer;
    margin-left: -1.3rem;
    position: relative;
    opacity: 0.7;
}

.down:hover {
    opacity: 1;
}

.dropdown {
    max-height: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--blueLight);
    top: 1.5rem;
    left: -5.5rem;
    border-radius: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: 15.5rem;
    transition: all 0.3s ease-out;
    opacity: 0;
    overflow: hidden;
}

.nav-items>.down:hover  .dropdown{
 visibility: visible;
 opacity: 1;
 max-height: 270px;
}

.dropdown a {
    font-weight: 500;
    color: var(--lightPrimaryGrey);
}

.dropdown li {
    padding: 0.7rem;
}

.dropdown a:hover {
    color: var(--bluePrimary);
    font-weight: 500;
}
/* Header Section Design End */

/* Styling of hero section */
.hero-section {
    display: flex;
    padding: 7.63rem 0 3.63rem 3.13rem;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3rem; */
    /* height: 25.25rem; */
    /* border: 1px solid black; */
}

.headline {
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-between;
    width: 50%;
}

.headline>h1 {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 5.94rem;
    font-style: italic;
    font-weight: 900;
    color: var(--bluePrimary);
    line-height: 118%;
    cursor: context-menu;
}

.headline>p {
    font-size: 1.75rem;
    font-family: "Barlow", serif;
    font-weight: 600;
    color: var(--blueLight);
    letter-spacing: 7%;
    cursor: context-menu;
}

.headline>.headlineBtns>#viewproject {
    margin-left: 0.8rem;
    padding: 0.5rem 0.55rem 0.5rem 0.55rem;
    border-radius: 6.25rem;
    border-style: none;
    background-color: var(--darkGrey);
    color: var(--lightPrimaryGrey);
    cursor: pointer;
    font-size: 0.65rem;
    margin-top: 0.5rem;
    width: 7.25rem;
    height: 2rem;
}

.headline>.headlineBtns>#getStarted {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 6.25rem;
    border-style: none;
    background-color: var(--blueLight);
    color: var(--lightPrimaryGrey);
    cursor: pointer;
    font-size: 0.65rem;
    margin-top: 0.5rem;
    width: 7.25rem;
    height: 2rem;
    transition: all 0.5s ease-out;
}

.headline>.headlineBtns>#getStarted:hover {
    background-color: var(--bluePrimary);
    font-weight: 500;
    transition: all 0.5s ease;
}

.rectangles {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height:15.62rem;

}

.div1 {
    background-color: var(--bluePrimary);
    width: 6rem;
    height: 2.5rem;
}

.div2 {
    background-color: var(--darkGrey);
    width: 4.7rem;
    height: 2.5rem;
}

.div3 {
    background-color: var(--blueLight);
    width: 2.8rem;
    height: 2.5rem;
}

.div4 {
    background-color: var(--darkGrey);
    width: 4.7rem;
    height: 2.5rem;
}

.div5 {
    background-color: var(--bluePrimary);
    width: 6rem;
    height: 2.5rem;
}

@keyframes headlineBtns {
    from {
        color: var(--lightPrimaryGrey);
    }

    to {
        background-color: var(--bluePrimary);
        font-weight: 500;
    }
}

/* Styling of hero section end */

.line {
    margin-left: 3.12rem;
    margin-right: 3.12rem;
    margin-top: 1.5rem;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}


/* Styling Services Section */
.servicessSectn {
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.services {
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    /* border: 1px solid black; */
}

.services>h1 {
    text-align: center;
    font-family: "Barlow", serif;
    font-weight: 600;
    font-size: 3.12rem;
    color: var(--primaryBlack);
}

.services>h1>span {
    color: var(--blueLight);
    font-family: "Barlow", serif;
    font-weight: 800;
}

.servicePara {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.services>.para1 {
    margin-top: 0.94rem;
    text-align: center;
}

.services>.para2 {
    text-align: center;
}

.servicessSectn>.serviceCards {
    padding: 3em 0 0 0; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;  
}

.card {
    width: 20.56rem;
    height: 13.63rem;
    border: 1px solid var(--lightPrimaryGrey);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px 0px #55555515;
    transition: all 0.5s ease-out;
}
.card:hover {
    transform: scaleX(1.1);
    -webkit-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    box-shadow: 0px 4px 15px 5px #3666AB60;
    transition: all 0.5s ease;
}

.card>h3 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4rem;
    background-color: var(--lightPrimaryGrey);
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1.13rem;
}

.card>h3>img {
    width: 15%;
    height: 90%;
    margin-right: .7rem;
}

.card>p {
    font-family: "Barlow", serif;
    font-weight: 300;
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

/* Styling services section end */


/* Styling of our team section */

.ourTameSectn {
    padding: 3.63rem 3.4rem 2.63rem 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
}

.ourTameSectn>h1>span {
    color: var(--primaryBlack);
}

.ourTameSectn>h1 {
    color: var(--blueLight);
    text-align: center;
    font-size: 3.12rem;
}

.teamprofile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 1.9rem 0 0 0;
    border: 1px solid black;
}

.card-profile {
    width: 250px;
    height: 300px;
    perspective: 1000px;
   
}
.inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card-profile:hover .inner{
    transform: rotateY(180deg);
}

.profile {
    width: 100%;
    height: 100%;
    border: 1px solid var(--blueLight);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
    position: absolute;
}
.profile{
    transform: rotateY(0deg);
}
.profile .tPic{
    width: 150px;
    height: 144px;
    border: 1px solid var(--blueLight);
    border-radius: 50%;
    background-color: #fff;
}
.backprfile {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--blueLight);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    box-shadow: 0px 4px 15px 5px #3666AB60;

}

.backprfile>p {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 1.4rem;
}

.backprfile>h3 {
    font-family: "Barlow", serif;
    font-weight: 800;
    font-size: 1.13rem;
    color: var(--blueLight);
}
.backprfile>img{
    width: 18%;
    height: 15%;
    margin-top: 2rem;
}
.profileimg {
    width: 12.5rem;
    height: 12rem;
    position: relative;
    margin-top: 0.5rem;
}

.profileimg>#dots {
    width: 90%;
    position: absolute;
    left: 7px;
}

.profileimg>#haris {
    width: 70%;
    position: absolute;
    left: 1.75rem;
    top: 1rem;
}

.profileinfo>h3 {
    font-family: "Barlow", serif;
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--blueLight);
    text-align: center;
}

.profileinfo>h5 {
    text-align: center;
    color: var(--bluePrimary);
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1.13rem;
    margin-top: 0.7rem;
}

/* Styling of our team section end */

/* Styling of prouduct section */

.productsectn {
    padding: 3.63rem 0 2.63rem 0rem;
    display: flex;
    flex-direction: column;
}

.productsectn>h1 {
    text-align: center;
    font-family: "Barlow", serif;
    font-weight: 800;
    font-size: 3.12rem;
    color: var(--blueLight);
}
/* Styling of slider */
.swipper-container{
    /* width: 80rem; */
    position: relative;
    overflow: visible;
}
.swiper {
    width: 70rem;
    height: 37.5rem;
    margin-top: 2.37rem;
    border-radius: 0.62rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Slide Styling */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
/* Custom Backgrounds */
.slide1 {
    background: url("./images/couponshub.png") no-repeat 85px 100px ,
     url("./images/NOT.png") no-repeat 630px 100px;
     background-color: #fff;

}

.slide2 {
    background: url("./images/couponshub.png") no-repeat  85px 100px ,
    url("./images/NOT.png") no-repeat  630px 100px;
    background-color: #ABCEFF;
}

.slide3 {
    background: url("./images/couponshub.png") no-repeat 85px 100px ,
    url("./images/NOT.png") no-repeat  630px 100px;
    background-color:#D2D2D2;
}

/* Custom Navigation Buttons */
.custom-next,
.custom-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blueLight); 
    transition: 0.3s;
    cursor: pointer;
    z-index:10;
}

.custom-prev {left: 5.3rem; }
.custom-next { right:5.3rem; }
/* Custom Pagination Dots */
.swiper-pagination-bullet {
    width: 0.94rem;
    height: 0.94rem;
    background-color: white;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: var(--bluePrimary)!important;
    opacity: 1;
}
/* Styling of slider end*/
/* Styling of prouduct section end */


/* Footer Section Styling */

.footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bluePrimary);
    padding: 2.3rem 3.13rem 0 3.13rem;
    gap: 1.3rem;
}
.uperfooter{
    display: flex;
    gap: 10.37rem;
    justify-content: space-between;
    align-items: center;
    /* border: 1PX solid RED; */
    /* height: 80%; */
}
.footer li{
    font-size: 1rem;
    font-family: "Barlow", serif;
    font-weight: 300;
    color:var(--lightPrimaryGrey) ;
}
.codexdiscp{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20.62rem;
    gap: 1.2rem;
    /* border: 1PX solid yellow; */
}
.codexdiscp>.logo1{
    width: 100%;
}
.codexdiscp>.desc>p{
    font-family: "Barlow", serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--lightPrimaryGrey);
    line-height: 1.8;
    letter-spacing: 1.5px;
}
.footerservice{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20.62rem;
    gap: 20px;
    /* border: 1PX solid yellow; */
}
.footerservice>.ourservices>h2{
    display: flex;
    justify-content: center;
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 2.5rem;
    color:var(--lightPrimaryGrey);
}
.footerservice>.servicelist{
    display: flex;
    justify-content: center;
}
.footerservice>.servicelist>ul{
      display: flex;
      flex-direction: column;
      gap: 1.125rem;
}
.footerservice>.servicelist>ul a{
    text-decoration: none;
    color: var(--lightPrimaryGrey) ;
}
.footertouch{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20.62rem;
    /* border: 1PX solid yellow; */
}

.footertouch>.intouch{
    /* border: 1px solid yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5125rem;
}
.footertouch>.intouch>h2{
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--lightPrimaryGrey);
}
.footertouch>.intouch>ul>li{
   margin-left : 3rem;
   padding-top: 0.5rem;
}
.line2{
    border-top: 1px solid #D2D2D260;
    width: 75%;
    margin-top: 1rem;
    margin-left: 2rem;
}

.footertouch>.footerloc{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 0.5125rem;
    /* border: 1px solid yellow; */
}
.footertouch>.footerloc>h4{
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 1.25rem;  
    color: var(--lightPrimaryGrey);
    margin-left: 3.4rem;
    line-height: 20px;
}
.footertouch>.footerloc>p{
    font-family: "Barlow", serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--lightPrimaryGrey);
    margin-left: 3.4rem;
    margin-left: 3.4rem;
    line-height: 20px;
}
/* .footertouch>span{
    position: relative;
}
.footertouch>span>a{
    position: absolute;
    right: 0.8rem;
    top: 3.8rem;
} */

.bottomfooter{
    width: 100%;
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.bottomfooter>.socialstop{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.socialstop>#backTop{
    width: 65px;
    height: 65px;
}
.copyright>p{
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--lightPrimaryGrey);
}
.privacyplcy>p{
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--lightPrimaryGrey);  
}
.Terms>p{
    font-family: "Barlow", serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--lightPrimaryGrey);  
}
/* Footer Section Styling End*/